<%= form_for @booking do |f| %>
	<% @passengers.each do |pass| %>
		<h4>Passenger <%= @passengers.index(pass) + 1 %></h4>
		<%= f.fields_for pass do |p| %>
			<%= p.label "Name:" %>
			<%= p.text_field :name  %>
			<%= p.label "Email:" %>
			<%= p.text_field :email %>
		<% end %>
	<% end %>
	<br>
	<%= f.submit "Book Flight" %>
<% end %>